# Dependencies
node_modules/
package-lock.json

# Build output
dist/
build/

# IDE
.idea/
.vscode/
*.iml
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# Temporary files
*.tmp
*.temp

