<h3 class="divider divider-start text-xs">
  <span class="flex gap-1.5">
    <svg class="opacity-40" width="16" height="16" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M37 37C39.2091 37 41 35.2091 41 33C41 31.5272 39.6667 29.5272 37 27C34.3333 29.5272 33 31.5272 33 33C33 35.2091 34.7909 37 37 37Z" fill="currentColor"></path>
      <path d="M20.8535 5.50439L24.389 9.03993" stroke="currentColor" stroke-width="4" stroke-linecap="round"></path>
      <path d="M23.6818 8.33281L8.12549 23.8892L19.4392 35.2029L34.9955 19.6465L23.6818 8.33281Z" stroke="currentColor" stroke-width="4" stroke-linejoin="round"></path>
      <path d="M12 20.0732L28.961 25.6496" stroke="currentColor" stroke-width="4" stroke-linecap="round"></path>
    </svg>
    Change Colors
  </span>
</h3>
<div class="grid w-fit grid-cols-4 gap-4">
  <!-- Base colors -->
  <div class="flex flex-col gap-1 col-span-4">
    <div class="flex gap-4">
      <button type="button" class="border-base-content/10 outline-base-content grid h-10 w-14 cursor-pointer place-items-center rounded-lg border-1 outline-offset-2 focus:outline-2 color-btn" data-color="base-100" aria-label="base-100">100</button>
      <button type="button" class="border-base-content/10 outline-base-content grid h-10 w-14 cursor-pointer place-items-center rounded-lg border-1 outline-offset-2 focus:outline-2 color-btn" data-color="base-200" aria-label="base-200">200</button>
      <button type="button" class="border-base-content/10 outline-base-content grid h-10 w-14 cursor-pointer place-items-center rounded-lg border-1 outline-offset-2 focus:outline-2 color-btn" data-color="base-300" aria-label="base-300">300</button>
      <button type="button" class="border-base-content/10 outline-base-content grid h-10 w-14 cursor-pointer place-items-center rounded-lg border-1 outline-offset-2 focus:outline-2 font-black text-2xl color-btn" data-color="base-content" aria-label="base-content">A</button>
    </div>
    <div class="text-base-content/60 text-xs">base</div>
  </div>
  <!-- Primary -->
  <div class="flex flex-col gap-1 col-span-2">
    <div class="flex gap-4">
      <button type="button" class="border-base-content/10 outline-base-content grid h-10 w-14 cursor-pointer place-items-center rounded-lg border-1 outline-offset-2 focus:outline-2 color-btn" data-color="primary" aria-label="primary"></button>
      <button type="button" class="border-base-content/10 outline-base-content grid h-10 w-14 cursor-pointer place-items-center rounded-lg border-1 outline-offset-2 focus:outline-2 font-black text-2xl color-btn" data-color="primary-content" aria-label="primary-content">A</button>
    </div>
    <div class="text-base-content/60 text-xs">primary</div>
  </div>
  <!-- Secondary -->
  <div class="flex flex-col gap-1 col-span-2">
    <div class="flex gap-4">
      <button type="button" class="border-base-content/10 outline-base-content grid h-10 w-14 cursor-pointer place-items-center rounded-lg border-1 outline-offset-2 focus:outline-2 color-btn" data-color="secondary" aria-label="secondary"></button>
      <button type="button" class="border-base-content/10 outline-base-content grid h-10 w-14 cursor-pointer place-items-center rounded-lg border-1 outline-offset-2 focus:outline-2 font-black text-2xl color-btn" data-color="secondary-content" aria-label="secondary-content">A</button>
    </div>
    <div class="text-base-content/60 text-xs">secondary</div>
  </div>
  <!-- Accent -->
  <div class="flex flex-col gap-1 col-span-2">
    <div class="flex gap-4">
      <button type="button" class="border-base-content/10 outline-base-content grid h-10 w-14 cursor-pointer place-items-center rounded-lg border-1 outline-offset-2 focus:outline-2 color-btn" data-color="accent" aria-label="accent"></button>
      <button type="button" class="border-base-content/10 outline-base-content grid h-10 w-14 cursor-pointer place-items-center rounded-lg border-1 outline-offset-2 focus:outline-2 font-black text-2xl color-btn" data-color="accent-content" aria-label="accent-content">A</button>
    </div>
    <div class="text-base-content/60 text-xs">accent</div>
  </div>
  <!-- Neutral -->
  <div class="flex flex-col gap-1 col-span-2">
    <div class="flex gap-4">
      <button type="button" class="border-base-content/10 outline-base-content grid h-10 w-14 cursor-pointer place-items-center rounded-lg border-1 outline-offset-2 focus:outline-2 color-btn" data-color="neutral" aria-label="neutral"></button>
      <button type="button" class="border-base-content/10 outline-base-content grid h-10 w-14 cursor-pointer place-items-center rounded-lg border-1 outline-offset-2 focus:outline-2 font-black text-2xl color-btn" data-color="neutral-content" aria-label="neutral-content">A</button>
    </div>
    <div class="text-base-content/60 text-xs">neutral</div>
  </div>
  <!-- Info -->
  <div class="flex flex-col gap-1 col-span-2">
    <div class="flex gap-4">
      <button type="button" class="border-base-content/10 outline-base-content grid h-10 w-14 cursor-pointer place-items-center rounded-lg border-1 outline-offset-2 focus:outline-2 color-btn" data-color="info" aria-label="info"></button>
      <button type="button" class="border-base-content/10 outline-base-content grid h-10 w-14 cursor-pointer place-items-center rounded-lg border-1 outline-offset-2 focus:outline-2 font-black text-2xl color-btn" data-color="info-content" aria-label="info-content">A</button>
    </div>
    <div class="text-base-content/60 text-xs">info</div>
  </div>
  <!-- Success -->
  <div class="flex flex-col gap-1 col-span-2">
    <div class="flex gap-4">
      <button type="button" class="border-base-content/10 outline-base-content grid h-10 w-14 cursor-pointer place-items-center rounded-lg border-1 outline-offset-2 focus:outline-2 color-btn" data-color="success" aria-label="success"></button>
      <button type="button" class="border-base-content/10 outline-base-content grid h-10 w-14 cursor-pointer place-items-center rounded-lg border-1 outline-offset-2 focus:outline-2 font-black text-2xl color-btn" data-color="success-content" aria-label="success-content">A</button>
    </div>
    <div class="text-base-content/60 text-xs">success</div>
  </div>
  <!-- Warning -->
  <div class="flex flex-col gap-1 col-span-2">
    <div class="flex gap-4">
      <button type="button" class="border-base-content/10 outline-base-content grid h-10 w-14 cursor-pointer place-items-center rounded-lg border-1 outline-offset-2 focus:outline-2 color-btn" data-color="warning" aria-label="warning"></button>
      <button type="button" class="border-base-content/10 outline-base-content grid h-10 w-14 cursor-pointer place-items-center rounded-lg border-1 outline-offset-2 focus:outline-2 font-black text-2xl color-btn" data-color="warning-content" aria-label="warning-content">A</button>
    </div>
    <div class="text-base-content/60 text-xs">warning</div>
  </div>
  <!-- Error -->
  <div class="flex flex-col gap-1 col-span-2">
    <div class="flex gap-4">
      <button type="button" class="border-base-content/10 outline-base-content grid h-10 w-14 cursor-pointer place-items-center rounded-lg border-1 outline-offset-2 focus:outline-2 color-btn" data-color="error" aria-label="error"></button>
      <button type="button" class="border-base-content/10 outline-base-content grid h-10 w-14 cursor-pointer place-items-center rounded-lg border-1 outline-offset-2 focus:outline-2 font-black text-2xl color-btn" data-color="error-content" aria-label="error-content">A</button>
    </div>
    <div class="text-base-content/60 text-xs">error</div>
  </div>
</div>

