<h3 class="divider divider-start text-xs">
  <span class="flex gap-1.5">
    <svg class="opacity-40" width="16" height="16" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M24.9507 42.3603L30.4164 30.3695L43.1046 26.6501L33.3383 17.7699L33.7059 4.60732L22.2044 11.1099L9.74329 6.69439L12.4013 19.5934L4.33228 30.027L17.4766 31.4965L24.9507 42.3603Z" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M36.1777 36.0537L44.1777 44.0179" stroke="currentColor" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
    Effects
  </span>
</h3>
<div class="w-full">
  <label class="flex cursor-pointer items-center justify-between gap-2">
    <span class="flex flex-col">
      <span class="text-base-content/70 text-xs text-[0.6875rem]">Depth Effect</span>
      <span class="text-base-content/40 text-[0.625rem] italic">3D depth on fields & selectors</span>
    </span>
    <input type="checkbox" class="toggle toggle-xs" name="--depth" checked>
  </label>
</div>
<div class="w-full">
  <label class="flex cursor-pointer items-center justify-between gap-2">
    <span class="flex flex-col">
      <span class="text-base-content/70 text-xs text-[0.6875rem]">Noise Effect</span>
      <span class="text-base-content/40 text-[0.625rem] italic">Noise pattern on fields & selectors</span>
    </span>
    <input type="checkbox" class="toggle toggle-xs" name="--noise">
  </label>
</div>

