<div class="card bg-base-100 card-border border-base-300 card-sm overflow-hidden">
  <div class="card-body">
    <div class="chat chat-start">
      <div class="chat-image avatar">
        <div class="w-8 rounded-full">
          <img alt="Tailwind CSS chat bubble component" src="https://img.daisyui.com/images/profile/demo/yellingwoman@94.webp">
        </div>
      </div>
      <div class="chat-header">
        Obi-Wan Kenobi
        <time class="text-xs opacity-50">12:45</time>
      </div>
      <div class="chat-bubble chat-bubble-neutral">It's over Anakin</div>
    </div>
    <div class="chat chat-start">
      <div class="chat-image avatar">
        <div class="w-8 rounded-full">
          <img alt="Tailwind CSS chat bubble component" src="https://img.daisyui.com/images/profile/demo/yellingwoman@94.webp">
        </div>
      </div>
      <div class="chat-bubble chat-bubble-neutral">I have the high ground</div>
      <div class="chat-footer opacity-50">Delivered</div>
    </div>
    <div class="chat chat-end">
      <div class="chat-image avatar">
        <div class="w-8 rounded-full">
          <img alt="Tailwind CSS chat bubble component" src="https://img.daisyui.com/images/profile/demo/yellingcat@94.webp">
        </div>
      </div>
      <div class="chat-bubble chat-bubble-neutral">You underestimate my power</div>
      <div class="chat-footer opacity-50">Seen at 12:46</div>
    </div>
  </div>
</div>

