<div class="card bg-base-100 card-border border-base-300 card-sm">
  <div class="card-body gap-4">
    <div class="join">
      <label class="join-item input-border input flex w-auto items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 shrink-0 opacity-70">
          <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd"></path>
        </svg>
        <input type="text" class="grow" placeholder="Search">
      </label>
      <button class="join-item btn btn-neutral">Find</button>
    </div>
  </div>
</div>

